# stock historical data

In [1]:

from credentials import api_key,secret_key
from alpaca.data.historical.stock import StockHistoricalDataClient

# setup stock historical data client
stock_historical_data_client = StockHistoricalDataClient(api_key, secret_key)

In [2]:
from datetime import datetime,timedelta
from zoneinfo import ZoneInfo
from alpaca.data.requests import StockBarsRequest
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit

symbol = "TSLA"
# get historical bars by symbol
# ref. https://docs.alpaca.markets/reference/stockbars-1
now = datetime.now(ZoneInfo("America/New_York"))
req = StockBarsRequest(
    symbol_or_symbols = symbol,
    timeframe=TimeFrame(amount = 5, unit = TimeFrameUnit.Minute), # specify timeframe
    start = now - timedelta(days = 100),                          # specify start datetime, default=the beginning of the current day.
    # end_date=None,                                        # specify end datetime, default=now
    # limit = 2,                                               # specify limit
)
history_df1=stock_historical_data_client.get_stock_bars(req).df
history_df1

                                      open      high       low     close  \
symbol timestamp
TSLA   2024-09-20 12:00:00+00:00  242.5900  244.7900  241.6095  242.7855
       2024-09-20 12:05:00+00:00  242.7900  243.9200  242.7200  243.2000
       2024-09-20 12:10:00+00:00  243.2400  243.4000  243.0900  243.3800
       2024-09-20 12:15:00+00:00  243.4000  243.7900  243.3600  243.4800
       2024-09-20 12:20:00+00:00  243.5139  243.6850  243.4100  243.4100
...                                    ...       ...       ...       ...
       2024-12-28 00:35:00+00:00  430.6600  431.2300  430.6500  431.2300
       2024-12-28 00:40:00+00:00  431.3520  431.6874  431.0000  431.0200
       2024-12-28 00:45:00+00:00  431.2000  431.2000  430.8101  431.0000
       2024-12-28 00:50:00+00:00  431.0000  431.5100  430.9211  431.5100
       2024-12-28 00:55:00+00:00  431.5300  431.9900  431.5300  431.9404

                                    volume  trade_count        vwap
symbol timestamp
TSLA   2024-09-20 12:00:00+00:00  235255.0       3922.0  243.075389
       2024-09-20 12:05:00+00:00   43262.0       1122.0  242.976269
       2024-09-20 12:10:00+00:00   64439.0       1122.0  243.228966
       2024-09-20 12:15:00+00:00   73711.0       1249.0  243.610518
       2024-09-20 12:20:00+00:00   40767.0        611.0  243.515592
...                                    ...          ...         ...
       2024-12-28 00:35:00+00:00   13013.0        383.0  430.818468
       2024-12-28 00:40:00+00:00   17620.0        430.0  431.347528
       2024-12-28 00:45:00+00:00   14108.0        394.0  430.960592
       2024-12-28 00:50:00+00:00   31181.0        515.0  431.162780
       2024-12-28 00:55:00+00:00   35619.0        696.0  431.854469

[13111 rows x 7 columns]

In [7]:
history_df1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11422 entries, ('GOOG', Timestamp('2024-09-19 12:30:00+0000', tz='UTC')) to ('GOOG', Timestamp('2024-12-28 00:55:00+0000', tz='UTC'))
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         11422 non-null  float64
 1   high         11422 non-null  float64
 2   low          11422 non-null  float64
 3   close        11422 non-null  float64
 4   volume       11422 non-null  float64
 5   trade_count  11422 non-null  float64
 6   vwap         11422 non-null  float64
dtypes: float64(7)
memory usage: 1005.5+ KB

In [3]:
history_df1.reset_index().drop('symbol',axis=1).set_index('timestamp')

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2024-09-20 12:00:00+00:00,242.5900,244.7900,241.6095,242.7855,235255.0,3922.0,243.075389
2024-09-20 12:05:00+00:00,242.7900,243.9200,242.7200,243.2000,43262.0,1122.0,242.976269
2024-09-20 12:10:00+00:00,243.2400,243.4000,243.0900,243.3800,64439.0,1122.0,243.228966
2024-09-20 12:15:00+00:00,243.4000,243.7900,243.3600,243.4800,73711.0,1249.0,243.610518
2024-09-20 12:20:00+00:00,243.5139,243.6850,243.4100,243.4100,40767.0,611.0,243.515592
...,...,...,...,...,...,...,...
2024-12-28 00:35:00+00:00,430.6600,431.2300,430.6500,431.2300,13013.0,383.0,430.818468
2024-12-28 00:40:00+00:00,431.3520,431.6874,431.0000,431.0200,17620.0,430.0,431.347528
2024-12-28 00:45:00+00:00,431.2000,431.2000,430.8101,431.0000,14108.0,394.0,430.960592
2024-12-28 00:50:00+00:00,431.0000,431.5100,430.9211,431.5100,31181.0,515.0,431.162780
2024-12-28 00:55:00+00:00,431.5300,431.9900,431.5300,431.9404,35619.0,696.0,431.854469

# crypto

In [9]:
from alpaca.data.historical.crypto import CryptoHistoricalDataClient
# setup crypto historical data client
crypto_historical_data_client = CryptoHistoricalDataClient()

In [12]:
from alpaca.data.requests import CryptoBarsRequest
# get historical bars by symbol
# ref. https://docs.alpaca.markets/reference/cryptobars-1
symbol = "ETH/USD"
now = datetime.now(ZoneInfo("America/New_York"))
s=datetime(2023,1,1,0,0,0,tzinfo=ZoneInfo("America/New_York"))
e=datetime(2023,12,1,0,0,0,tzinfo=ZoneInfo("America/New_York"))
req = CryptoBarsRequest(
    symbol_or_symbols = [symbol],
    timeframe=TimeFrame(amount = 15, unit = TimeFrameUnit.Minute), # specify timeframe
    start = s,                          # specify start datetime, default=the beginning of the current day.
    end_date=e,                                        # specify end datetime, default=now
    # limit = 2,                                               # specify limit
)
history_df2=crypto_historical_data_client.get_crypto_bars(req).df
history_df2

                                        open      high        low      close  \
symbol  timestamp
ETH/USD 2023-01-01 05:00:00+00:00  1192.2600  1193.050  1191.9600  1192.7400
        2023-01-01 05:15:00+00:00  1192.8400  1193.790  1192.3500  1193.6500
        2023-01-01 05:30:00+00:00  1193.7600  1193.760  1192.7700  1193.5800
        2023-01-01 05:45:00+00:00  1193.6200  1194.190  1193.4400  1193.8100
        2023-01-01 06:00:00+00:00  1193.8100  1194.730  1193.2600  1193.8600
...                                      ...       ...        ...        ...
        2024-12-28 12:30:00+00:00  3349.5535  3356.673  3349.5535  3352.6100
        2024-12-28 12:45:00+00:00  3353.0950  3354.641  3347.5865  3348.3500
        2024-12-28 13:00:00+00:00  3350.7800  3355.764  3346.6110  3355.7640
        2024-12-28 13:15:00+00:00  3356.8345  3363.963  3354.7500  3357.6715
        2024-12-28 13:30:00+00:00  3356.0680  3363.000  3356.0680  3360.1500

                                      volume  trade_count         vwap
symbol  timestamp
ETH/USD 2023-01-01 05:00:00+00:00   84.51953        319.0  1192.580172
        2023-01-01 05:15:00+00:00  102.53704        190.0  1193.000835
        2023-01-01 05:30:00+00:00  207.13806        247.0  1193.269482
        2023-01-01 05:45:00+00:00  159.42128        314.0  1193.769237
        2023-01-01 06:00:00+00:00  173.27823        349.0  1194.182357
...                                      ...          ...          ...
        2024-12-28 12:30:00+00:00    0.00000          0.0  3349.553500
        2024-12-28 12:45:00+00:00    0.00000          0.0  3353.022500
        2024-12-28 13:00:00+00:00    0.00000          0.0  3350.780000
        2024-12-28 13:15:00+00:00    0.00000          0.0  3356.834500
        2024-12-28 13:30:00+00:00    0.00000          0.0  3356.068000

[69776 rows x 7 columns]

In [13]:
history_df2.reset_index().drop('symbol',axis=1).set_index('timestamp')

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2023-01-01 05:00:00+00:00,1192.2600,1193.050,1191.9600,1192.7400,84.51953,319.0,1192.580172
2023-01-01 05:15:00+00:00,1192.8400,1193.790,1192.3500,1193.6500,102.53704,190.0,1193.000835
2023-01-01 05:30:00+00:00,1193.7600,1193.760,1192.7700,1193.5800,207.13806,247.0,1193.269482
2023-01-01 05:45:00+00:00,1193.6200,1194.190,1193.4400,1193.8100,159.42128,314.0,1193.769237
2023-01-01 06:00:00+00:00,1193.8100,1194.730,1193.2600,1193.8600,173.27823,349.0,1194.182357
...,...,...,...,...,...,...,...
2024-12-28 12:30:00+00:00,3349.5535,3356.673,3349.5535,3352.6100,0.00000,0.0,3349.553500
2024-12-28 12:45:00+00:00,3353.0950,3354.641,3347.5865,3348.3500,0.00000,0.0,3353.022500
2024-12-28 13:00:00+00:00,3350.7800,3355.764,3346.6110,3355.7640,0.00000,0.0,3350.780000
2024-12-28 13:15:00+00:00,3356.8345,3363.963,3354.7500,3357.6715,0.00000,0.0,3356.834500
2024-12-28 13:30:00+00:00,3356.0680,3363.000,3356.0680,3360.1500,0.00000,0.0,3356.068000

# option

In [24]:

from alpaca.data.historical.option import OptionHistoricalDataClient
from alpaca.data.requests import OptionBarsRequest
# setup option historical data client
option_historical_data_client = OptionHistoricalDataClient(api_key, secret_key)
symbol='SPY241230C00596000'
symbol='TSLA250103C00430000'
# get options historical bars by symbol
req = OptionBarsRequest(
    symbol_or_symbols = symbol,
    timeframe = TimeFrame(amount = 1, unit = TimeFrameUnit.Minute),   # specify timeframe
    start = now - timedelta(days = 5),                              # specify start datetime, default=the beginning of the current day.
    # end_date=None,                                                # specify end datetime, default=now
    # limit = 2,                                                      # specify limit
)
history_df3=option_historical_data_client.get_option_bars(req).df
history_df3

                                                open   high    low  close  \
symbol              timestamp
TSLA250103C00430000 2024-12-23 14:30:00+00:00  22.95  23.00  22.02  22.25
                    2024-12-23 14:31:00+00:00  22.45  22.85  20.55  20.55
                    2024-12-23 14:32:00+00:00  20.74  21.30  20.45  21.30
                    2024-12-23 14:33:00+00:00  21.50  22.20  21.37  22.10
                    2024-12-23 14:34:00+00:00  22.35  23.49  22.35  22.94
...                                              ...    ...    ...    ...
                    2024-12-27 20:55:00+00:00  15.05  16.15  15.05  15.93
                    2024-12-27 20:56:00+00:00  15.85  15.85  15.50  15.50
                    2024-12-27 20:57:00+00:00  15.65  15.70  15.50  15.59
                    2024-12-27 20:58:00+00:00  15.70  15.90  15.60  15.90
                    2024-12-27 20:59:00+00:00  15.92  16.07  15.63  15.94

                                               volume  trade_count       vwap
symbol              timestamp
TSLA250103C00430000 2024-12-23 14:30:00+00:00    15.0         10.0  22.391333
                    2024-12-23 14:31:00+00:00    90.0         37.0  20.948444
                    2024-12-23 14:32:00+00:00    30.0         12.0  20.937000
                    2024-12-23 14:33:00+00:00    54.0         25.0  21.793889
                    2024-12-23 14:34:00+00:00    23.0         10.0  23.194783
...                                               ...          ...        ...
                    2024-12-27 20:55:00+00:00   201.0         38.0  16.016169
                    2024-12-27 20:56:00+00:00    39.0         12.0  15.804359
                    2024-12-27 20:57:00+00:00    55.0         26.0  15.578000
                    2024-12-27 20:58:00+00:00   185.0         39.0  15.824865
                    2024-12-27 20:59:00+00:00   151.0         61.0  15.828344

[959 rows x 7 columns]

In [17]:
history_df3.reset_index().drop('symbol',axis=1).set_index('timestamp')

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2024-12-23 14:30:00+00:00,2.38,2.71,2.38,2.70,103.0,22.0,2.634854
2024-12-23 14:31:00+00:00,2.72,2.72,2.63,2.72,29.0,4.0,2.682759
2024-12-23 14:32:00+00:00,2.72,2.73,2.60,2.60,33.0,8.0,2.636364
2024-12-23 14:33:00+00:00,2.71,2.71,2.63,2.65,12.0,3.0,2.698333
2024-12-23 14:34:00+00:00,2.63,2.63,2.55,2.55,3.0,2.0,2.576667
...,...,...,...,...,...,...,...
2024-12-27 21:10:00+00:00,1.48,1.51,1.48,1.50,39.0,9.0,1.484615
2024-12-27 21:11:00+00:00,1.50,1.52,1.48,1.50,21.0,11.0,1.504286
2024-12-27 21:12:00+00:00,1.50,1.51,1.48,1.50,73.0,13.0,1.503836
2024-12-27 21:13:00+00:00,1.51,1.51,1.45,1.50,184.0,16.0,1.475380
2024-12-27 21:14:00+00:00,1.53,1.57,1.51,1.55,123.0,29.0,1.543415

In [25]:
from alpaca.trading.requests import GetOptionContractsRequest
from alpaca.trading.enums import AssetStatus
from alpaca.trading.client import TradingClient
# setup clients
trade_client = TradingClient(api_key=api_key, secret_key=secret_key)

# get list of options contracts for the given underlying symbol (e.g. SPY,AAPL)
# - get_option_contracts() is a new method to get list of options contracts
# - in this example, we get 2 options contracts for SPY,AAPL
# - you can continue to fetch options contracts by specifying page_token from next_page_token of response
underlying_symbols = ["GOOG"]
req = GetOptionContractsRequest(
    underlying_symbols = underlying_symbols,               # specify underlying symbols
    status = AssetStatus.ACTIVE,                           # specify asset status: active (default)
    expiration_date = None,                                # specify expiration date (specified date + 1 day range)
    expiration_date_gte = None,                            # we can pass date object
    expiration_date_lte = None,                            # or string (YYYY-MM-DD)
    root_symbol = None,                                    # specify root symbol
    type = None,                                           # specify option type (ContractType.CALL or ContractType.PUT)
    style = None,                                          # specify option style (ContractStyle.AMERICAN or ContractStyle.EUROPEAN)
    strike_price_gte = None,                               # specify strike price range
    strike_price_lte = None,                               # specify strike price range
    limit = 2,                                             # specify limit
    page_token = None,                                     # specify page token
)
res = trade_client.get_option_contracts(req)
res

{   'next_page_token': 'Mg==',
    'option_contracts': [   {   'close_price': None,
                                'close_price_date': None,
                                'expiration_date': datetime.date(2025, 1, 3),
                                'id': 'f1c1298b-cc97-437f-a297-06c5ac631154',
                                'name': 'GOOG Jan 03 2025 90 Call',
                                'open_interest': None,
                                'open_interest_date': None,
                                'root_symbol': 'GOOG',
                                'size': '100',
                                'status': <AssetStatus.ACTIVE: 'active'>,
                                'strike_price': 90.0,
                                'style': <ExerciseStyle.AMERICAN: 'american'>,
                                'symbol': 'GOOG250103C00090000',
                                'tradable': True,
                                'type': <ContractType.CALL: 'call'>,
                                'underlying_asset_id': UUID('f30d734c-2806-4d0d-b145-f9fade61432b'),
                                'underlying_symbol': 'GOOG'},
                            {   'close_price': None,
                                'close_price_date': None,
                                'expiration_date': datetime.date(2025, 1, 3),
                                'id': 'a569a5a3-5c83-421a-af0d-45b3aff1c446',
                                'name': 'GOOG Jan 03 2025 95 Call',
                                'open_interest': None,
                                'open_interest_date': None,
                                'root_symbol': 'GOOG',
                                'size': '100',
                                'status': <AssetStatus.ACTIVE: 'active'>,
                                'strike_price': 95.0,
                                'style': <ExerciseStyle.AMERICAN: 'american'>,
                                'symbol': 'GOOG250103C00095000',
                                'tradable': True,
                                'type': <ContractType.CALL: 'call'>,
                                'underlying_asset_id': UUID('f30d734c-2806-4d0d-b145-f9fade61432b'),
                                'underlying_symbol': 'GOOG'}]}